@import "tailwindcss";

@font-face {
    font-family: "NeueMontreal-Regular";
    src: url("/public/fonts/NeueMontreal-Regular.woff2") format("woff2"),
}

@font-face {
    font-family: "Recoleta-Medium";
    src: url("/public/fonts/Recoleta-Medium.woff2") format("woff2"),
}

@font-face {
    font-family: "Recoleta-SemiBold";
    src: url("/public/fonts/Recoleta-SemiBold.woff2") format("woff2"),
}

@font-face {
    font-family: "SeptemberSpiritAllCaps";
    src: url("/public/fonts/SeptemberSpiritAllCaps.woff2") format("woff2"),
}

/* Default font-family */
@theme {
    --default-font-family: "NeueMontreal-Regular", sans-serif;
}